.footer {
  .ft-1 {
    height: 350px;
    background: $navbar-color;
  }
  .ft-2 {
    height: 100px;
    background: #000;
    color: $branco;
    p {
      @include type-1;
      text-align: center;
      padding-top: 2rem;
    }
  }
}


