@mixin navbar-typo {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFF;
    font-weight: lighter;
    text-transform: capitalize;
    color: $link-padrao;
    line-height: 20px;
    transition: all .3s ease;
}

@mixin type-1 {
    font-family: 'Georgia', serif;
    font-size: 14px;
}
@mixin type-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}