.quebra {
    position: relative;
    margin-top: 20px;
    height: 220px;
    background: url('../img/prefooter.jpg') no-repeat center;
    background-size: cover;
    blockquote {
        @include type-card-p;
        color: $navbar-color;
        width: 400px;
        text-align: left;
        margin-right: 0;
        position: absolute;
        left: 5em;
        top: 5em;
    }
    cite {
        @include type-card-tit;
        position: absolute;
        font-size: 16px;
        color: $navbar-color;
        left: 20rem;
        top: 8.5rem;
        &:before {
            content: '';
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            background: url('../img/ornamento-blue.png') no-repeat center;
            left: -2.5rem;
        }
    }
}