.quebra {
    position: relative;
    margin-top: 20px;
    height: 220px;
    background: url('../img/prefooter.jpg') no-repeat center;
    background-size: cover;
    blockquote {
        @include type-card-p;
        color: $branco;
        width: 400px;
        text-align: left;
        margin-right: 0;
        position: absolute;
        right: 12em;
        top: 5em;
    }
    cite {
        @include type-card-tit;
        position: absolute;
        font-size: 16px;
        color: $branco;
        right: 12em;
        top: 8.5em;
        &:before {
            content: '';
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            background: url('../img/ornamento-blue.png') no-repeat center;
            left: -2.5em;
            top: -.2em;
        }
    }
}